<a href="https://colab.research.google.com/github/SiumNobo/PythonAI/blob/main/Day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
var1=10;
print(var1)

10

python formated string

In [ ]:
val1,val2=10,20
st1="val 1={} and val2={}".format(val1,val2)
print()
print("Value 1={1} and value 2={0}".format(val1,val2))
print("value 1={key1} and value 2={key2}".format(key1=val1,key2=val2))

f1=2.26
print("formated value:(:08.5f)".format(f1))
print("formated value:(key:08.5f)".format(key=f1))

Value 1=20 and value 2=10
value 1=10 and value 2=20
formated value:(:08.5f)
formated value:(key:08.5f)

Python input

In [ ]:
num1=int(input("enter your number?"))
num2=int(input("enter your number?"))

sum=num1+num2;
print(float(sum))

enter your number?10
enter your number?20
30.0

Multiline String

In [ ]:
str1='single quoted string'
str2="double quoted string"
str3='''multi-line
string
with tab'''
print(str1)
print(str2)
print(str3)

single quoted string
double quoted string
multi-line
string
with tab

Last output and boolean variable

In [ ]:
print(0==0)
print(0==1)
print(True)

True
False
True

some other type conversion

In [ ]:
num1=10
num2=15.5
print(num1+num2)

#explicite type coversion
num1=10
str1="123"
print(num1+int(str1))
print(str(num1)+str1)

25.5
133
10123

Module code

In [ ]:
import math
print(math.pi)
print(math.sqrt(16))

from math import * #try to avoid this practice
print(pi)
from math import pi
print(pi)
import math as m
print(m.pi)

from math import pi as p
print(p)

3.141592653589793
4.0
3.141592653589793
3.141592653589793
3.141592653589793
3.141592653589793

#input file from a drive

Python operator

In [ ]:
print(5/2)
print(5//2)
print(5**2)

print(True or False)
print(True or True)
print(not True)


x=True
print(x is None)
print(x is not None)

str1="hello python"
print('hello' in str1)

2.5
2
25
True
True
False
False
True
True

Referring to the same object or not

In [ ]:
print("-----------Special Oprators-----------")
x=True
print(x is None)
print(x is not None)
print(x is True)

print("-------------Membership operators--------------")
#membership operator in/out in operator
str1="hello python"
print('hello' in str1)

-----------Special Oprators-----------
False
True
True
-------------Membership operators--------------
True

Scopeing

In [ ]:
g = 10  # global variable [built-in [global: g=10]]]

def f1():
    global g  # referring to global variable g
    g = 20  # built-in [global: g=20]
    n1 = 20  # local for f1 [built-in [global g=20 [local n1=20]]]

def f2():
    global g
    g = 30
    n1 = 30  # local for f2 [built-in [global g=30 [local n1=30]]]
    l = 30
    print("l= " + str(l))  # Printing the local variable l
f2()
print(g)
f1()
print(g)

l= 30
30
20

Python follows invention. not have brackets

In [ ]:
#python if-elif statement
value="m"
if value=="m":
  print("Male")
elif value!="f":
   print("Female")
else:
   print("others")

Male

Range Function

In [ ]:
print(list(range(8)))
print("-----------------")
print(list(range(3,8)))
print("------------------")
print(list(range(3,8,2)))

#python for loop
for val in[10,20,30,40]:
 print(val)
for eachchar in "abcdef":
  print(eachchar)

for val in range(10):
  print(val)

[0, 1, 2, 3, 4, 5, 6, 7]
-----------------
[3, 4, 5, 6, 7]
------------------
[3, 5, 7]
10
20
30
40
a
b
c
d
e
f
0
1
2
3
4
5
6
7
8
9

While loop

In [ ]:
#python while loop
num1 = 1
sum  = 0
while num1<=10:
  sum= sum+num1
  num1+=1
print(sum)

55

In [ ]:
mylist=[10,20,50,30,40,50,60]
#break portion
print("-----------break output-----------------")
for val in mylist:
  if val==50:
    break
  print(val)
print("--------------------bko----------------------")
for val in mylist:
   if(val==50):
    continue
   print(val)

-----------break output-----------------
10
20
--------------------bko----------------------
10
20
30
40
60

Functions

In [ ]:
def printhello():
  print('within the value')
  return "function return value"
printhello()

returnvalue=printhello()
print(returnvalue)

within the value
within the value
function return value

Arguments

In [ ]:
#Functions Arguements
def showinfo(name,email):
  print("Email adress of student {} is {}".format(name,email))
showinfo("abc","abc@gmail.com")

#keyword Arguements
showinfo(email="zzz@gmail.com", name="zzz")

#default arguments
#all the arguemnt to the default arguemnt must have default value
def showinfo1(name,email="uuu@email.com"):
  print("Email of the particular person name {} and email is {}".format(name,email))
showinfo1("abc")

Email adress of student abc is abc@gmail.com
Email adress of student zzz is zzz@gmail.com
Email of the particular person name abc and email is uuu@email.com

Arbitray Arugments

In [ ]:
def anyargfn(*args):
  #args is a tupple

  for eacharg in args:
    print(eacharg)

anyargfn(10,20,30,60)

#Arbitrary keyword argument
def anykwargsfn(**kwargs):
    for key in kwargs:
      print(key,kwargs[key])
anykwargsfn(k1="value1",k2="value2",k3="value3")

10
20
30
60
k1 value1
k2 value2
k3 value3

1.Immutable
2.Mutable

In [ ]:
#Function Arguement
#2 types of object:
#Immutable(unchangeable) object:int, float, complex,str,tuple
#mutable(changeable) object: List, dict

def showinfo(name,email):
    print("Email address of Student {} is {}".format(name,email))

showinfo("abc","abc@gmail.com")

#Keyword Arguments
#All the arguments to the right of default arguemnt must have default value

def showinfo1(email="zzz@gmail.com",name="zzz"):
    print("Email address of student {} is {}".format(name,email))

showinfo("abc","abc@gmail.com")
showinfo1("abc","abc@gmail.com")
#Default Arguements
#All the arguements to the right of default arguement must have default value
def showinfol(name,email="xxx@gmail.com"):
    print("Email address of Student {} is {}".format(name,email))

showinfol("abc")
showinfo1("abc","abc@gmail.com")

Email address of Student abc is abc@gmail.com
Email address of Student abc is abc@gmail.com
Email address of student abc@gmail.com is abc
Email address of Student abc is xxx@gmail.com
Email address of student abc@gmail.com is abc

Anonymus function

In [ ]:
sayhelllo=lambda name: "Hello"+name
print(sayhelllo(" python"))

#filter()-built-in function
#filter() function returns a new list containing items for which the function evaluates to true

list1=[1,2,3,4,5,6,7,8]

new_list1= list(filter(lambda x:(x%2==0),list1))
print(new_list1)

#map()- built-in function
#map() function returns a new list containing items returned by that fuction for each item
list2=[1,2,3,4,5,6,7,8]
#problem

new_list2=list(map(lambda x: x*3,list2))
print(new_list2)

newlist3=list(map(lambda x:x**5,list2))
print(newlist3)

Hello python
[2, 4, 6, 8]
[3, 6, 9, 12, 15, 18, 21, 24]
[1, 32, 243, 1024, 3125, 7776, 16807, 32768]

Python list

In [ ]:
#pyhton list
#mutable

mylist=[]
my_list1=[1,2,3,4]
my_list2=[1,3.1416,"hello"]

my_list3=[1,[2,3,4],5,6]
twoDArray=[[1,2,3],[4,5,6],[7,8,9]]

my_list4=my_list1+my_list2

#list length
print(len(my_list4))


#list traversal
print("-------------------list print--------------")
for item in my_list2:
  print(item)


#item check
if 1 in my_list2:
  print("found")
else:
   print("not found")

Python List 2

In [ ]:
my_list1=[1,2,3,4]
# index 0 1 2 3
#revindex -4 -3 -2 -1

#python list- access list items
print(my_list1[0])
print(my_list1[-1])

my_list3=[1,[2,3,4],5,6]
print(my_list3[1][1])

#always exclude the last element
print(my_list1[0:2])
print(my_list1[1:])
print(my_list1[:3])
print(my_list1[:])

1
4
3
[1, 2]
[2, 3, 4]
[1, 2, 3]
[1, 2, 3, 4]

Python add new list

In [ ]:
my_list=[]
my_list.append("new value1")
my_list.append("new value2")
print(my_list)

my_list.extend([1,2,"new value1"])
print(my_list)
my_list.insert(1,999) #index,value
print(my_list)

my_list[1:1]=[888]
print(my_list)

['new value1', 'new value2']
['new value1', 'new value2', 1, 2, 'new value1']
['new value1', 999, 'new value2', 1, 2, 'new value1']
['new value1', 888, 999, 'new value2', 1, 2, 'new value1']

Remove item list

In [ ]:
#python list-remove list items
my_list=[100,200,300,400,500,600,700]
print(my_list)

del my_list[0]
print(my_list)

del my_list[4:]
print(my_list)

#[200,300,400,500]
my_list.remove(300)
print(my_list)
my_list.pop()
print(my_list)
my_list.pop(0)
print(my_list)

[100, 200, 300, 400, 500, 600, 700]
[200, 300, 400, 500, 600, 700]
[200, 300, 400, 500]
[200, 400, 500]
[200, 400]
[400]

Python List-Other Method

In [ ]:
#python - other metheods
my_list=[100,200,300,400,500,200,600,700]
print(my_list)
#index(element, op_starinf,op_endind)
print(my_list.index(200))
print(my_list.index(200,2))

#count(element)
print(my_list.count(200))

#sort(op_key=sortfn, op_reverse=true)
my_list.sort()
print(my_list)

#reverse()
my_list.reverse()
print(my_list)

[100, 200, 300, 400, 500, 200, 600, 700]
1
5
2
[100, 200, 200, 300, 400, 500, 600, 700]
[700, 600, 500, 400, 300, 200, 200, 100]

python list-assignment problem due to pass by reference

In [ ]:
list1=[1,2,3,4]
list2=list1

list2[0]=100
print(list1)
print(list2)

#Solution:use shallow copy function
list1=[1,2,3,4]
list2=list1.copy()

list2[0]=100

print(list1)
print(list2)

[100, 2, 3, 4]
[100, 2, 3, 4]
[1, 2, 3, 4]
[100, 2, 3, 4]

List comprehension
syntax:newlist=[Expression for item in listvar if condition ==true ]

In [4]:
strlist=['abc','defg','h','ijklmo']
lenlist=[len(eachstr) for eachstr in strlist]
print(lenlist)

customizedlist=[eachstr for eachstr in strlist if eachstr!='abc']
print(customizedlist)

#the expression can also contain conditions
customizedlist=['found' if eachstr=='abc'else '-' for eachstr in strlist]
print(customizedlist)
numlist=[1,2,3,4,5,6]
cube_list=[eachitem**3 for eachitem in numlist]
print(cube_list)

[3, 4, 1, 6]
['defg', 'h', 'ijklmo']
['found', '-', '-', '-']
[1, 8, 27, 64, 125, 216]

In [ ]:
#with open('input.txt') as fp:
 # data = fp.readline()

In [ ]:
#from Mycode import sqrt